<form class="form-inline" style="margin-left: 50px;">
        <div class="form-group">
            <label for="title">Title</label>
            <input ng-model="article.title" type="text" class="form-control" id="title" placeholder="Article Title">
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <input ng-model="article.description" type="text" class="form-control" id="description" placeholder="Article Description">
    </div>
    <div class="form-group">
    <label for="link">Links</label>
    <input ng-model="article.url" type="text" class="form-control" id="link" placeholder="Article URL">
</div>
    <button ng-click="save(); " type="submit" class="btn btn-default">Save</button>
      <button ng-click="reset(); " type="submit" class="btn btn-default">Reset</button>
</form>
