<div>
  <img class='img-responsive' style="700px" src="img/aboutus.jpg" alt=""/>

  <h2 class="aboutus"><span>A well managed property,<br/> is the best investment.</span></h2>

</div>
     <div class="featurette">
       <div style='padding: 20px;'>
       <img class="featurette-image pull-right" src="img/img-aboutus.jpg">
       <div style="padding-left: 20px;">

       <h2 class="featurette-heading">From Landlords to Landlords!</h2>
       <p class="lead">We are developers, landlords and want to save both time and money.  We are fustrated at management companies trying to charge us certain percentage to do pretty much nothing.</p>

     </div>
     </div>
     </div>

     <hr class="featurette-divider" >

     <div class="featurette" >
      <div style='padding: 20px;'>

       <img class="featurette-image pull-left" src="img/cs-penniur.jpg">
       <div style="margin-left: 20px;">

       <h2 class="featurette-heading"> We work day and night.<span class="muted">So you don't.</span></h2>
       <p class="lead"> State of the art web-app technologies to guaranteed our web/server up and running 99% of time.</p>

     </div>
     </div>
</div>
     <hr class="featurette-divider">

     <div class="featurette" style="background: url('img/cs-evolution22.jpg')">
       <div style='padding: 70px;'>
       <h1 class="featurette-heading">And lastly, this one.<br> <span class="muted"> <strong>All your properties income and insight in one place.</strong></span></h1>

     </div>
   </div>
